#set(CMAKE_BUILD_TYPE Debug)
#set(CMAKE_CXX_FLAGS "-std=c++0x -Wl,--enable-auto-import -L.")
set(CMAKE_CXX_FLAGS_DEBUG "-std=c++0x -g -Wno-deprecated")
set(CMAKE_CXX_FLAGS_PROF "-std=c++0x -O2 -g -Wno-deprecated")
set(CMAKE_CXX_FLAGS_RELEASE "-std=c++0x -O2 -Wno-deprecated")

#set(USE_NTL_FLINT 1)
#set(USE_YAFU 1)
#set(USE_GOOGLE_PERFTOOLS 1)
#set(CMAKE_VERBOSE_MAKEFILE true)#Output full compile and link command
set(Boost_ROOT /usr)
#add_subdirectory(Link/Ecl)
#add -lpthread for gdb after using Ecl

include_directories(${nV_HEADER_DIR} ${Boost_ROOT})
link_directories(${Boost_ROOT}/lib)
if(DEFINED USE_GOOGLE_PERFTOOLS)
  set(CMAKE_EXE_LINKER_FLAGS_PROF "-lprofiler -ltcmalloc")
  set(CMAKE_SHARED_LINKER_FLAGS_PROF="-lprofiler -ltcmalloc")
  set(CMAKE_EXE_LINKER_FLAGS_RELEASE "-ltcmalloc")
  set(CMAKE_SHARED_LINKER_FLAGS_RELEASE="-ltcmalloc")
endif()
if(DEFINED USE_NTL_FLINT)
  add_subdirectory(Link/NTL)
  add_subdirectory(Link/flint)
endif()
if(DEFINED USE_YAFU)
  add_subdirectory(Link/yafu)
endif()
